body {
  font-family: "Arial Rounded MT", Arial, sans-serif;
  padding: 20px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  h1 {
    flex: 1;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px black;
    font-size: 36px; /* Desired font size for the header */
  }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-radius: 4px;
  padding: 20px;
}

.movie-image {
  margin-right: 30px;
  border: 3px solid black;
}

.movie-image img {
  width: 250px;
  height: auto;
  object-fit: cover;
}

.movie-info {
  flex-grow: 1;
}

.rank,
.name,
.year,
.rating {
  font-size: 25px;
}

.try-again-button,
.info-button {
  background-color: #6495ED;
  color: white;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px; /* Adjust the border-radius for a rounded shape */
  height: 40px;
  width: 160px; /* Increase the width for better readability */
  font-size: 16px; /* Adjust the font size to your preference */
  transition: box-shadow 0.15s;
}


.info-button:hover {
  background-color: #36648B;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

.try-again-button:hover {
  background-color: #36648B;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}